@import "./variables.css";

html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    font-size: 14px;
    font-family: var(--page-fonts);
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--link-color);
    cursor: pointer;

    &:hover {
        color: var(--link-hover-color);
    }
}