@import "base.css";

body {
    width: 320px;
    font-size: 14px;
}

.container-signin {
    padding: 1.5em 1em;
    text-align: center;
}

.container-signin .title {
    color: #1296db;
    font-size: 3em;
}

.container-signin .description {
    margin: 1em auto;
    font-size: 1.3em;
    color: #8c92a4;
}

.container-signin .action {
    margin-top: 1em;
    font-size: 1.5em;
}

.container-signin .action .header  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #1296db;
}

.container-signin .action .header:before {
    content: ' ';
    height: 1px;
    width: 25%;
    border-bottom: 1px solid #1296db;
}

.container-signin .action .header:after {
    content: ' ';
    height: 1px;
    width: 25%;
    border-bottom: 1px solid #1296db;
}

.container-signin .action .content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.container-signin .action .content i {
    font-size: 1.5em;
    cursor: pointer;
}

.container-signin .action .content i.gitee {
    color: #c52327;
}

.container-signin .action .content i.xpicker {
    color: #1296db;
    font-size: 1.4em;
}

.container-signin .action .content > i + i {
    margin-left: 1.5em;
}

.container-account {
    padding: .5em 0;
    display: flex;
    justify-content: center;
}

.container-account .content {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.container-account .content i.account {
    font-size: 2.8em;
    margin-right: .2em;
}