<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>XPicker</title>
    <link rel="stylesheet" href="../css/popup.css">
</head>
<body>
    <div class="main">
        <div class="container container-account">
            <div class="content">
                <i class="iconfont icon-account account"></i>
                <i class="iconfont icon-down down"></i>
            </div>
        </div>
    </div>
</body>
</html>